.ocr-app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-header {
    font-size: 30px;
    color: #0097e6;
  }

  &-body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
