.file-output {
  background-color: #f3f3f3;
  min-width: 350px;
  height: 500px;
  margin-bottom: 55px;

  border: 2px solid rgb(189, 189, 189);
  border-radius: 8px;

  &-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: red;
  }

  &-container {
    height: 500px;
    overflow: auto; 
  }

  .loader {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }

    &-label {
      margin-top: 15px;
      font-size: 14px;
      color: #0097e6;
      font-weight: 500;
    }
  }

  .cupom-value {
    &-container {
      display: flex;
      flex-direction: row;
      margin: 10px 15px;
      justify-content: space-between;
    }

    &-label {
      margin-right: 5px;
      font-size: 16px;
      color: #0097e6;
      font-weight: 500;
    }

    &-value {
      font-size: 16px;
    }

    &-products {
      margin: 25px 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-container {
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
      }

      &-label {
        text-align: start;
        color: #0097e6;
        font-weight: 500;
      }

      &-value {
        text-align: center;
      }
    }
  }

  .line-separator {
    height: 2px;
    background: #ccced1;
  }

  .cupom-image {
    width: 350px;

    &-container {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .button {
    &-value {
      padding: 0px 15px;
      cursor: pointer;
    }

    &-container {
      padding: 10px;
      display: flex;
      justify-content: center;
    }

    &-icon {
      width: 35px;
      height: 35px;
      padding: 0px 5px;
      cursor: pointer;
      filter: invert(37%) sepia(10%) saturate(4%) hue-rotate(312deg) brightness(94%) contrast(92%);
  
      &-container {
        text-align: -webkit-center;
      }
    }
  
    &-icon:hover {
      filter: invert(78%) sepia(0%) saturate(2%) hue-rotate(13deg) brightness(88%) contrast(88%);
    }
  }
}
